
@using Microsoft.AspNetCore.Identity
@model Paintings.Models.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}
        <a asp-controller="Gallery" asp-action="Index" class=" btn-info galView" style="margin:0 auto; display:block; width:95vw;background-color:black;text-align: center;">View Gallery Locations</a>
    
<div class="text-center w3-center">


    <div class="w3-content w3-section" style="max-width:95vw;margin:0 auto;">
        <div class="imageHold">

            <img class="mySlides fade" src="~/images/PAccelerator.jpeg">

        </div>

        <div class="imageHold">
            <img class="mySlides fade" src="~/images/PBrooklyndiner.jpeg">

        </div>

        <div class="imageHold">
            <img class="mySlides fade" src="~/images/PCherries.jpeg">

        </div>

        <div>
            <img class="mySlides fade" src="~/images/PApple.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PBabyBaphomet.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PBurger.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PChinatownbangkok.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PConsumerDetail.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PCow.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PDandelion.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PDream.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PFly.jpeg">

        </div>


        <div>
            <img class="mySlides fade" src="~/images/PFrog.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PFroggy.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PGummyworms.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PHomeless.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PHos.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PLadybug.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PLandscape.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PLiberty.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PLoopgirl.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PNegativeHouse.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PNeptune.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PNightride.jpeg">

        </div>

        <div>
            <img class="mySlides fade" src="~/images/POrange.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PPeacock.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PPeppermintmustard.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PPills.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PProducts.jpeg">

        </div>


        <div>
            <img class="mySlides fade" src="~/images/PRedhair.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PSacredAndTheProfane.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PSister.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PSpider.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PStrawberry.jpeg">

        </div>

        <div>
            <img class="mySlides fade" src="~/images/PTeeth.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PTokyo.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PTrashley.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PTreegirl.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PTrinkets.jpeg">

        </div>
        <div>
            <img class="mySlides fade" src="~/images/PVapor.jpeg">

        </div>
    </div>


</div>
