@model IEnumerable<Paintings.Models.PaintingOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Congratulations, Your Order Has Been Placed!</h1>

@*<p>
        <a asp-action="Create">!</a>
    </p>*@
<table class="table">
    <thead>

    </thead>
    <tbody>

        <tr>

            <td>
                <a class="nav-link text-light" asp-area="" asp-controller="Orders" asp-action="Index">Return to Cart</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Paintings" asp-action="Index">Return To Shop</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@*@foreach (var item in Model)
    {
         @item.Order.IsComplete == true;
    }*@