@model IEnumerable<Paintings.Models.PaintingOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Congratulations, Your order has been placed.</h1>

<p>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</p>


</table>
